###
### Relative or absolute path to the devbox repository.
### (Used as a prefix for all mount paths)
### There is no need to change this.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
DEVBOX_PATH=.

###
### At what IP address should the docker services listen
### on the Host computer?
###
### The specified default should be fine for Linux and OSX (127.0.0.1:).
### If you are on windows, you will probably have to change
### it to the IP address of the docker machine.
###
### a.) Leave blank, to listen on all interfaces (no trailing color ':')
###    LOCAL_LISTEN_ADDR=
### b.) If an IP is specified, note the trailing colon ':'
###    LOCAL_LISTEN_ADDR=127.0.0.1:
###
LOCAL_LISTEN_ADDR=

###
### Set your user id and group id
###
### This should be changed to the value of your local
### users uid and gid
###
### Type `id` on the terminal to find out your values
###
NEW_UID=1000
NEW_GID=1000

################################################################################
###
### Project Name
###
################################################################################

COMPOSE_PROJECT_NAME=yourproject
PROJECT_HOSTNAME=yourproject.local
# 'local' is the name of the folder
ENVIRONMENT=local

################################################################################
###
### Image version
###
################################################################################

WEB_SERVER=giuseppemorelli/devbox-apache-php:8.2
PHP_VERSION=7.3
NODEJS_SERVER=node:14
MYSQL_SERVER=mysql:5.7
REDIS_SERVER=redis:latest
REDIS_COMMANDER_SERVER=rediscommander/redis-commander
PHPMYADMIN_SERVICE=phpmyadmin/phpmyadmin
MAILHOG_SERVICE=mailhog/mailhog
ELASTICSEARCH_SERVICE=docker.elastic.co/elasticsearch/elasticsearch-oss:7.5.2
ELASTICSEARCH_HQ_SERVICE=elastichq/elasticsearch-hq
NGROK_SERVICE=giuseppemorelli/devbox-ngrok
NOCODB_SERVICE=nocodb/nocodb
GOLANG_SERVICE=giuseppemorelli/devbox-golang:1.20

################################################################################
###
### Image Name
###
################################################################################

WEB_SERVER_NAME=apache
NODEJS_SERVER_NAME=nodejs
MYSQL_SERVER_NAME=mysql
REDIS_SERVER_NAME=redis
REDIS_COMMANDER_SERVER_NAME=redis-commander
PHPMYADMIN_SERVICE_NAME=phpmyadmin
MAILHOG_SERVICE_NAME=mailhog
ELASTICSEARCH_SERVICE_NAME=elasticsearch
ELASTICSEARCH_HQ_SERVICE_NAME=elasticsearch-hq
NGROK_SERVICE_NAME=ngrok
NOCODB_SERVICE_NAME=nocodb
GOLANG_SERVICE_NAME=golang

################################################################################
###
### Host Mounts (Your computer)
###
################################################################################

###
### Local filesystem path to www projects.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
###
# path to repository project
HOST_PATH_WEB_WWW=<your computer path for www>
HOST_PATH_PROJECT=<your computer path for project>
# change with another folder in your pc if you want, leave to use default project path
HOST_PATH_COMPOSER_CACHE=./config/composer/cache/

HOST_PATH_WEB_EXTRA_STORAGE=<your computer extra path - ex. image folder>

################################################################################
###
### Node.js Settings
###
### ! Important ! DO not use quotes or doble quotes or command will not work
### ex.
### NODEJS_COMMAND=npm start  -> yes
### NODEJS_COMMAND="npm start"  -> NO!
################################################################################

NODEJS_USER=node
NODEJS_ENV=development
NODEJS_COMMAND=npm start

################################################################################
###
### MySQL Settings
###
################################################################################

MYSQL_BACKUP_FOLDER=<your computer path for db backup>

################################################################################
###
### Redis Settings
###
################################################################################

REDIS_COMMANDER_HOSTS=db0:redis-server:6379:0,db1:redis-server:6379:1

################################################################################
###
### Xdebug Settings
###
################################################################################
XDEBUG_SESSION=DOCKERGM
XDEBUG_CONFIG=client_port=9000

################################################################################
###
### NocoDB Settings
###
################################################################################

NOCODB_PORT=80
# uncomment here and in docker-compose if you want to preconfigure a database do manage
# NOCODB_DB="mysql2://${IP_MYSQL_SERVER}:3306?u=local&p=local&d=nocodb"
NOCODB_URL="http://nocodb.local"

################################################################################
###
### IP Settings
###
################################################################################

IP_SUBNET=172.16.250.0/24
IP_LOCAL_COMPUTER=172.16.250.1
IP_WEB_SERVER=172.16.250.10
IP_MYSQL_SERVER=172.16.250.11
IP_REDIS_SERVER=172.16.250.12
IP_PHPMYADMIN_SERVICE=172.16.250.13
IP_MAILHOG_SERVICE=172.16.250.14
IP_ELASTICSEARCH_SERVICE=172.16.250.15
IP_ELASTICSEARCH_HQ_SERVICE=172.16.250.16
IP_REDISCOMMANDER_SERVER=172.16.250.17
IP_NGROK_SERVICE=172.16.250.18
IP_NODE_SERVER=172.16.250.19
IP_NOCODB_SERVICE=172.16.250.20
IP_GOLANG=172.16.250.21
IP_CUSTOM_SERVICE=172.16.250.200
