###
### Relative or absolute path to the devbox repository.
### (Used as a prefix for all mount paths)
### There is no need to change this.
###
### The only exception is for OSX users wanting to use NFS
### mounts instead of Filesystem mounts due to degraded performance
### on OSX.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
DEVBOX_PATH=.


###
### At what IP address should the docker services listen
### on the Host computer?
###
### The specified default should be fine for Linux and OSX (127.0.0.1:).
### If you are on windows, you will probably have to change
### it to the IP address of the docker machine.
###
### a.) Leave blank, to listen on all interfaces (no trailing color ':')
###    LOCAL_LISTEN_ADDR=
### b.) If an IP is specified, note the trailing colon ':'
###    LOCAL_LISTEN_ADDR=127.0.0.1:
###
LOCAL_LISTEN_ADDR=

###
### Set your user id and group id
###
### This should be changed to the value of your local
### users uid and gid
###
### Type `id` on the terminal to find out your values
###
NEW_UID=1000
NEW_GID=1000

################################################################################
###
### 0. Project Name
###
################################################################################

PROJECT_NAME=project
PROJECT_HOSTNAME=project.local

################################################################################
###
### 1. Image version
###
################################################################################

WEB_SERVER=gmdotnet/devbox-apache-php7

MYSQL_SERVER=mysql:5.7

REDIS_SERVER=redis:latest

PHPMYADMIN_SERVICE=phpmyadmin/phpmyadmin

MAILHOG_SERVICE=mailhog/mailhog

NODE_SERVICE=gmdotnet/devbox-magento-npm

GRUNT_SERVICE=gmdotnet/devbox-magento-npm

################################################################################
###
### 2. Image Name
###
################################################################################

WEB_SERVER_NAME=apache

MYSQL_SERVER_NAME=mysql

REDIS_SERVER_NAME=redis

PHPMYADMIN_SERVICE_NAME=phpmyadmin

MAILHOG_SERVICE_NAME=mailhog

NODE_SERVICE_NAME=npm

GRUNT_SERVICE_NAME=grunt

################################################################################
###
### 2. Host Mounts (Your computer)
###
################################################################################

###
### Local filesystem path to www projects.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
###
HOST_PATH_WEB_WWW=<your computer path web>

###
### Local filesystem path to mysql/mariadb datadir.
###
### This can be an existing mysql data directory or empty.
### If it already is a mysql data directory with content,
### it will be mounted into the docker and used.
###
### If this directory is empty, a new mysql database will be
### created.
###
### Note: Inside this path, a subdirectory with the mysql|mariadb
###       version will be created where the actual data resides.
###       This is to protect databases from being altered by
###       newer or older mysql|mariadb server versions.
###
### Note: When changing this variable you must re-create the container.
###       Simply remove it, it will be auto-created during the next start:
###
### $ docker-compose rm -f
###
HOST_PATH_NPM_DATADIR=<your computer path where run npm>

HOST_PATH_GRUNT_DATADIR=<your computer path where run grunt>

################################################################################
###
### 3. Web Settings
###
################################################################################

WEB_SERVER_PORT=80

WEB_SERVER_PORT_SSL=443

################################################################################
###
### 4. MySQL Settings
###
################################################################################

###
### MySQL root user password
###
### If $HOST_PATH_TO_MYSQL_DATADIR already contains an existing
### mysql datadir, enter the password for the existing mysql database
###
### If $HOST_PATH_TO_MYSQL_DATADIR is empty, choose a new password that
### will be applied
###
MYSQL_ROOT_PASSWORD=docker

MYSQL_SERVER_PORT=3306

MYSQL_BACKUP_FOLDER=<your computer path backup db folder>


################################################################################
###
### 5. Redis Settings
###
################################################################################

REDIS_SERVER_PORT=6379

################################################################################
###
### 6. Phpmyadmin Settings
###
################################################################################

PHPMYADMIN_SERVICE_PORT=5050

################################################################################
###
### 7. Mailhog Settings
###
################################################################################

MAILHOG_SERVICE_PORT=1025

MAILHOG_SERVICE_PORT_WEB=8025

################################################################################
###
### 8. Postfix Settings
###
################################################################################

POSTFIX_SERVICE_PORT=25
